.base {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4vmin, auto)
    [wide-start] minmax(auto, 240px)
    [main-start] min(700px, calc(100% - 8vw))
    [main-end] minmax(auto, 240px)
    [wide-end] minmax(4vmin, auto) [full-end];
}

.base > * {
  grid-column: main-start/main-end;
}

.wide {
  grid-column: wide-start/wide-end;
  width: 100%;
}
